@import 'normalize';
@import 'typescale';

body {
    font-family: $main-font-family;
    @include body;

    // &::after {
    //     @include type-grid;
    // }
}

.logo {
    display: block;
    width: 60px;
    height: 60px;
    background: #191919;
    border-radius: 50%;
    padding: 18px 15px 15px;

    svg {
        color: white;
        display: block;
        fill: white;
    }
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: $base-line-height 1rem $base-line-height 1rem;
}

.text {
    margin-top: 7rem;
}

.title {
    width: 100%;
    // background-color: #222;
    color: #222;
    padding: 2rem 0 5rem 0;
}

.title-container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto $base-line-height*4 auto;

    ul {
        display: flex;
        list-style-type: none;

        a {
            color: darken($color: #ffffff, $amount: 20);
            font-size: 1rem;
            // text-transform: uppercase;
            font-weight: 300;
            padding: 5px 25px;

            &:hover {
                color: white;
            }
        }

        li:last-of-type {
            a {
                padding: 5px 0 5px 25px;
            }
        }
    }
}

// .links {
//     width: 100%;
//     height: 4rem;
//     background-color: #222;
// }

// .title {
//     max-width: 920px;
// }

h1 {
    @include h1;
    font-weight: 200;
    max-width: 920px;
    color: #191919;
    font-size: 64px;
    line-height: 1.4;
    margin-bottom: $base-line-height*2.8;
}

p {
    @include h5;
    font-weight: 200;
    line-height: $base-line-height *1.3;
    color: #222;
}

.bio {
    max-width: 710px;

    a {
        color: inherit;
        font-weight: 400;
        // border-bottom: 1px solid currentColor;
        // text-decoration: underline;
        position: relative;

        &::before {
            content: '';
            top: 100%;
            height: 3px;
            width: 100%;
            position: absolute;
            background: linear-gradient( 109.6deg,  rgba(255,24,134,1) 11.2%, rgba(252,232,68,1) 52%, rgba(53,178,239,1) 100.2% );
            border-radius: 2rem;
        }

        &:hover {
            color: #1e90ff;

            &::before {
                background: #1e90ff;
            }
        }
    }
}

.button {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
}

.label {
    @include small;
    text-transform: uppercase;
}

.switch {
    display: inline-block;
    margin: 0 8px;

    &-outline {
        position: relative;
        width: 30px;
        height: 17px;
        border: 1px solid currentColor;
        border-radius: 10px;
    }

    &-circle {
        position: absolute;
        border: 1px solid currentColor;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background-color: currentColor;
        transform: translateX(0);
        transition: all .1s;
        
        &.long {
            transform: translateX(100%);
        }
    }
}

.expand-btn {
    background: none;
    border: none;
    padding: 0;
    font-family: $main-font-family;
    font-size: 1.25rem;
    font-weight: 200;
    color: rgb(122, 122, 122);
    cursor: pointer;
    margin-top: $base-line-height;
    text-decoration: underline;
}